<style>
  .container {
    padding: 16px;
    text-align: center;
  }
</style>
<div class="col-sm-12 col-xs-12 col-md-12">
  <div class="" style="display: inline-block;">
    <h5>Confirm</h5>
  </div>
  <button mat-button mat-dialog-close class="float-right">
    <span id="canelbtn" class="material-icons">close</span>
  </button>
</div>
<div class="clearfix">&nbsp;</div>
<mat-divider></mat-divider>
<div class="container">
  <div class="col-sm-12 col-xs-12 col-md-12">
    <mat-label>Are you sure? You want to delete the Quiz</mat-label>
  </div>
  <div class="clearfix">&nbsp;</div>
  <mat-divider></mat-divider>
  <div class="clearfix">&nbsp;</div>
  <div class="col-sm-12 col-xs-12 col-md-12">
    <button mat-button color="success" (click)="deletequiz()">Confirm</button>
    <button mat-button color="warn" mat-dialog-close id="cancelbtn">Cancel</button>
  </div>
</div>
