<div class="col-sm-12 col-xs-12 col-md-12 border-bottom border-dark">
    <div class="" style="display: inline-block;"><h5>Confirm</h5></div>
    
</div>
<div class="col-sm-12 col-xs-12 col-md-12" style="padding: 2% 0% 0% 0%;">
    <mat-label>Are you sure? You want to delete the Quiz</mat-label>
    <div class="clearfix">&nbsp;</div>
</div>
<div class="col-sm-12 col-xs-12 col-md-12" style="padding: 2% 25% 0% 28%;">
    
    <button mat-button color="success" (click)="deletequiz()">Confirm</button>
    <button mat-button color="warn" mat-dialog-close id="cancelbtn">Cancel</button>
</div>