<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<style>
  body {
    font-family: "Lato", sans-serif;
  }



  .main-head {
    height: 150px;
    background: #FFF;

  }

  .sidenav {
    height: 100%;
    background-color: #000;
    overflow-x: hidden;
    padding-top: 20px;
  }


  .main {
    padding: 0px 10px;
    padding-bottom: 30px;
    padding-top: 30px;
  }

  @media screen and (max-height: 450px) {
    .sidenav {
      padding-top: 15px;
    }
  }

  @media screen and (max-width: 450px) {
    .login-form {
      margin-top: 10%;
    }

    .register-form {
      margin-top: 10%;
    }
  }

  @media screen and (min-width: 768px) {
    .main {
      margin-left: 40%;
    }

    .sidenav {
      width: 40%;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
    }

    .login-form {
      margin-top: 10%;
    }

    .register-form {
      margin-top: 20%;
    }
  }


  .login-main-text {
    margin-top: 20%;
    padding: 60px;
    color: #fff;
  }

  .login-main-text h2 {
    font-weight: 300;
  }

  .btn-black {
    background-color: #000 !important;
    color: #fff;
  }

  .sidenav {
    height: 100%;
    background-color: #343a40;
    overflow-x: hidden;
    padding-top: 20px;
  }
  .mat-card-avatar {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    flex-shrink: 0;
}
.mat-icon {
    font-size: 50px;
    padding-left: 5px;
    padding-right: 75px;
}
</style>
<!------ Include the above in your HEAD tag ---------->

<div class="sidenav">
  <div class="login-main-text">
    <h2>Quiz Tool<br></h2>
    <p></p>
  </div>
</div>
<div class="main">
  <div class="col-md-12 col-sm-12">
    <div class="login-form">
      <form>
        <section class="darts-dark-theme">
        <mat-card flex-gt-sm>
            <div class="col-sm-12">
                <div  class="" style="display: inline-block;" routerLink="/login">
                    <mat-card-title>Teacher</mat-card-title>            
                    <mat-icon matListAvatar>create</mat-icon>
                </div>
                <div class=" float-right" routerLink="/StudentdashboardPage">                
                <mat-card-title>Student</mat-card-title>
                <mat-icon matListAvatar>play_circle_outline</mat-icon>
                </div>
            </div>
            <mat-divider></mat-divider>
            <mat-card-content>
            </mat-card-content>
        </mat-card>
         </section>
      </form>
    </div>
  </div>
</div>
