<h2 mat-dialog-title>Publish Quiz</h2>
<mat-dialog-content class="mat-typography">
 <mat-label>Choose a start date</mat-label> &nbsp;
  <input matInput [matDatepicker]="picker1" [(ngModel)]='startpicker1' required readonly>
  <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
  <mat-datepicker #picker1></mat-datepicker> 
  <div class="clearfix">&nbsp;</div>
  <mat-label>Choose a End date &nbsp;</mat-label>
  <input matInput [matDatepicker]="picker2" [(ngModel)]='endpicker1' required readonly>
  <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
  <mat-datepicker #picker2></mat-datepicker>
  <div class="clearfix">&nbsp;</div>  
  <mat-label>Enter how many students can take the Quiz &nbsp;</mat-label>
  <input matInput [(ngModel)]='Nostud' required>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close id="canelbtn">Cancel</button>
  <button mat-button  (click)='publishdata()' cdkFocusInitial>Publish</button>
</mat-dialog-actions>