<div class="container">
  <div class="grid-main"> 
    <table class="grid-table " width="100%" border="0" cellspacing="0" cellpadding="0">
      <thead class="p-2">
        <tr>
          <td>Quiz Id</td>
          <td>Quiz Name</td>
          <td>Quiz Description</td>
          <td>Edit</td>
          <td>Delete</td>
          <td>Generate Url</td>
          <td>Publish</td>
          <td>Preview</td>
          <td>Report</td>
        </tr>
      </thead>
      <tr *ngFor="let item of quiz1">
        <td class="grid-dept">
          <div>
            <label #userinput>{{item.id}}</label>            
          </div>
        </td>
        <td>{{item.quizname}}</td>
        <td>{{item.quiztitledesc}}</td>
        <td>
          <span class="material-icons pt-2" (click)="editquiz(item.id)" [hidden]="!item.Isedit" title="edit">edit</span>          
          <span class="font-weight-bold" style="cursor: default;" [hidden]="item.Isedit">
            -
          </span>
        </td>
        <td>
          <span class="material-icons pt-2" (click)="deletequiz(item.id)" [hidden]="!item.Isedit" title="Delete">delete_forever</span>          
          <span class="font-weight-bold" style="cursor: default;" [hidden]="item.Isedit">
            -
          </span>
        </td>
        <td>
          <span class="material-icons pt-2" (click)="generatequiz(item.id)" title="Generate URL">link</span>

        </td>
        <td>
          <span class="material-icons pt-2" [hidden]="item.ispublished" (click)="openDialog(item.id)" title="Publish">
            cloud_upload
            </span>
            <span class="material-icons pt-2"  [hidden]="!item.ispublished"  title="Publised">
              cloud
              </span>
        </td>
        <td>
          <span class="material-icons pt-2" (click)="Preview(item.id)" title="Generate URL">
            play_circle_filled
            </span>

        </td>
        <td>
          <span class="material-icons pb-2" (click)="Reports(item.id,item.json)" [hidden]="item.Isedit" title="Report">
            <mat-icon>equalizer</mat-icon>
          </span>
          <span class="font-weight-bold" style="cursor: default;" [hidden]="!item.Isedit">
            -
          </span>
        </td>
      </tr>
    </table>
  </div>
</div>

<mat-paginator class="font-weight-bold pagination-row" [length]="length"
               [pageSize]="pageSize"
               [pageSizeOptions]="pageSizeOptions"
               (page)="pageEvent = $event; onPaginateChange($event)">
</mat-paginator>
