
<div class="container ">
  <div class="row p-2 brd_btm brd_tp font-weight-bold">
    <div class="col-sm border border-dark">
      Quiz Id
    </div>
    <div class="col-sm border border-dark">
      Quiz Name
    </div>
    <div class="col-sm border border-dark w-100">
      Quiz Description
    </div>
    <div class="col-sm border border-dark">
      Edit
    </div>
    <div class="col-sm border border-dark">
      Delete
    </div>
    <div class="col-sm border border-dark">
      Generate Url
    </div>
    <div class="col-sm border border-dark">
      Publish
    </div>
    <div class="col-sm border border-dark">
      Preview
    </div>
  </div>
  <div class="row p-2 brd_btm" *ngFor="let item of quiz1"> 
    <div class="col-sm border border-dark">
      {{item.id}}
    </div>
    <div class="col-sm border border-dark text-truncate">
      {{item.quizname}}
    </div>
    <div class="col-sm border border-dark w-100 text-truncate">
      {{item.quiztitledesc}}
    </div>
    <div class="col-sm border border-dark" >
      <span class="material-icons" (click)="editquiz(item.id)" [hidden]="!item.Isedit" title="edit">edit</span>
    </div>
    <div class="col-sm border border-dark">
      <span class="material-icons" (click)="deletequiz(item.id)" [hidden]="!item.Isedit" title="Delete">delete_forever</span>
    </div>
    <div class="col-sm border border-dark">
      <span class="material-icons" (click)="generatequiz(item.id)" title="Generate URL">
        link
        </span>
    </div>
    <div class="col-sm border border-dark" >
      <span class="material-icons" [hidden]="item.ispublished" (click)="openDialog(item.id)" title="Publish">
        cloud_upload
        </span>
        <span class="material-icons"  [hidden]="!item.ispublished"  title="Publised">
          cloud
          </span>
    </div>
    <div class="col-sm border border-dark">
      <span class="material-icons" (click)="Preview(item.id)" title="Generate URL">
        play_circle_filled
        </span>
    </div>
  </div>
</div>

<mat-paginator class="font-weight-bold" [length]="length"
               [pageSize]="pageSize"
               [pageSizeOptions]="pageSizeOptions"
               (page)="pageEvent = $event; onPaginateChange($event)">
</mat-paginator>
