.studenthide{
    display: none;
}
.scrollbar {
    float: left;
    height: 100%;
    width: 100%;
    background: #fff;
    overflow-y: scroll;
    }
    .scrollbar-secondary::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #F5F5F5;
    border-radius: 10px; }
    
    .scrollbar-secondary::-webkit-scrollbar {
    width: 5px;
    background-color: #F5F5F5; }
    
    .scrollbar-secondary::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #aa66cc; }
    .material-icons{
        cursor: pointer;
      }