<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<style>
  body {
    font-family: "Lato", sans-serif;
  }



  .main-head {
    height: 150px;
    background: #FFF;

  }

  .sidenav {
    height: 100%;
    background-color: #000;
    overflow-x: hidden;
    padding-top: 20px;
  }


  .main {
    padding: 0px 10px;
    padding-bottom: 30px;
    padding-top: 30px;
  }

  @media screen and (max-height: 450px) {
    .sidenav {
      padding-top: 15px;
    }
  }

  @media screen and (max-width: 450px) {
    .login-form {
      margin-top: 10%;
    }

    .register-form {
      margin-top: 10%;
    }
  }

  @media screen and (min-width: 768px) {
    .main {
      margin-left: 40%;
      background: #EEE;
      height: 100%;
      padding-top: 10%;
    }

    .sidenav {
      width: 40%;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
    }

    .login-form {
      margin-top: 10%;
    }

    .register-form {
      margin-top: 20%;
    }
  }


  .login-main-text {
    margin-top: 20%;
    padding: 60px;
    color: #fff;
  }

  .login-main-text h2 {
    font-weight: 300;
  }

  .btn-black {
    background-color: #000 !important;
    color: #fff;
  }

  .sidenav {
    height: 100%;
    background-color: #343a40;
    overflow-x: hidden;
    padding-top: 20px;
  }
.container{
  height: 100%;
}
</style>

<!------ Include the above in your HEAD tag ---------->

<div class="sidenav">
  <div class="login-main-text">
    
    <div class="clearfix"></div>
    <h2>Quiz Tool</h2>
    <p>Take the Quiz from here.</p>
  </div>
</div>

<div class="main">
  <div class="col-md-6 col-sm-12">
    <div class="login-form">
        <div id="Logindiv" *ngIf="status=='S001'">
          <div class="form-group">
            <h2>Quiz </h2>
            <label>Student Name</label>
            <input type="text" class="form-control" placeholder="Please enter Student Name"  [(ngModel)]="Studentname"  >
          </div>          
          <button type="submit" class="btn btn-primary mr-2" (click)="routgen()">Take Quiz</button>          
        </div>   
        <div *ngIf="status=='S003'">
          <h2>Quiz </h2>
          <label>Quiz Already reached the limit please check with your teacher</label>
        </div>  
        <div *ngIf="status=='S002'">
          <h2>Quiz </h2>
          <label>Please enter the correct Quiz Code</label>
        </div>   
    </div>
  </div>
</div>
