li.link-active a,
li.link-active a:hover,
li.link-active a:focus {
  background-color: #4189C7;
  color: white;
  height: auto;
  padding: 10px;
  border-radius: 20px;
}
.avatar {
  width: 40px;
  min-width: 40px;
  height: 40px;
  line-height: 40px;
  margin: 0 8px 0 0;
  border-radius: 50%;
  font-size: 17px;
  font-weight: 600;
  text-align: center;
}
.mr-12{
  margin-right: 12px;
  margin-left: 8px;
}
td span {
    cursor: pointer;
  }
  .container{
    max-width: 100% !important;
  }
  .brd_btm{
    border-bottom: 1px solid;
  }
  .brd_tp{
    border-top: 1px solid;
  }
  .navbar-nav li{
    padding-right: 15px;
  }
  .navbar-nav{
    flex-direction: row;
  }
  .container-fluid{
    display: contents;
  }
  .navbar-header{
    max-width: 10%;
  }
  .svd-page-add{
    display: none !important;
  }
  .mat-paginator{
    margin-top: 10px;
    background: cadetblue;
    color: white;
  }
  .material-icons{
    cursor: pointer;
  }
  .navbar-dark .navbar-nav .nav-link {
    color: white;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
.btn-group{
  position: absolute;
  right: 5%;
}
.dropdown-menu{
  min-width: 100%;
}
.svd_toolbox_item_icon-file{
  display: none !important;
}
.grid-main {
  
  border-left-width: 1px;
  
  border-left-style: solid;
  
  border-left-color: #e0e0e0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #e0e0e0;
  margin-top: 10px;
}
.grid-table thead tr {
  border-top-width: 1px;
  border-right-width: 0;
  border-bottom-width: 1px;
  border-left-width: 0;
  border-top-style: solid;
  border-right-style: none;
  border-bottom-style: solid;
  border-left-style: none;
  border-top-color: #e0e0e0;
  border-bottom-color: #e0e0e0;
}
.grid-table thead {
  background-color: #f5f6f6;
}
.grid-table thead tr {
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #e0e0e0;
  border-top-style: none;
  text-align: center;
  font-size: 18px;
  font-family: open_sansregular,Arial,Helvetica,sans-serif;
  font-style: normal;
  color: #333333;
}
.grid-table  tr {
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #e0e0e0;
  border-top-style: none;
  text-align: center;
  font-size: 14px;
  font-family: open_sansregular,Arial,Helvetica,sans-serif;
  font-style: normal;
  color: #333333;
}
.pagination-row {
  position: absolute;
  bottom: 32px;
  float: right;
  padding-left: 0 !important;
  padding-right: 34px !important;
  width: 100%;
}
.grid-table thead tr {
  border-top-width: 1px;
  border-right-width: 0;
  border-bottom-width: 1px;
  border-left-width: 0;
  border-top-style: solid;
  border-right-style: none;
  border-bottom-style: solid;
  border-left-style: none;
  border-top-color: #e0e0e0;
  border-bottom-color: #e0e0e0;
}
@media screen and (max-width: 37.6em) and (min-width: 21em) and (orientation: portrait){
  .dialog1 >  mat-dialog-container {
    padding: 0px;
}
}
@media (min-width: 300px) and (max-width: 480px) {
  .dialog1 >  mat-dialog-container {
    padding: 0px;
}
  
}

@media (min-width: 320px) and (max-width: 823px) and (orientation: landscape){
  .dialog1 >  mat-dialog-container {
    padding: 0px;
}
}



.scrollbar {
float: left;
height: 100%;
width: 100%;
background: #fff;
overflow-y: scroll;
}
.scrollbar-secondary::-webkit-scrollbar-track {
-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
background-color: #F5F5F5;
border-radius: 10px; }

.scrollbar-secondary::-webkit-scrollbar {
width: 5px;
background-color: #F5F5F5; }

.scrollbar-secondary::-webkit-scrollbar-thumb {
border-radius: 10px;
-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
background-color: #aa66cc; }