<div id="app">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">{{ title }}</a>
      </div>
      <div>
        <ul class="nav navbar-nav">
          <li routerLinkActive='link-active'>
            <a routerLink="/home">Home</a>
          </li>
          <li routerLinkActive='link-active'>
            <a routerLink="/survey">Practice test</a>
          </li>
          <li routerLinkActive='link-active'>
            <a routerLink="/creator">Quiz Creator</a>
          </li>
          <li routerLinkActive='link-active'>
            <a routerLink="/quizlist">Quiz List</a>
          </li>
          <li routerLinkActive='link-active'>
            <a routerLink="/analytics">Result</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="d-flex justify-content-center" style="display: none !important;">
    <div class="spinner-border" role="status">
      <span id="loading" style="display: none !important;"></span>
    </div>
  </div>
  <router-outlet class="view"></router-outlet>
</div>
